*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins" sans-serif !important;
}
.input-container > img{
    cursor: pointer;
}
.container{
    width: 100%;
    background: #f8f8f8;
    padding: 35px 0px;
    display: flex;
    justify-content: center;

    /* min-height: 90vh !important;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available; */
}
.grid-item {
    background-color: white;
    border: 1px solid rgba(234, 234, 234, 0.8);
    text-align: center;
    width: 450px;
    height: 300px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.cont{
    text-align: center;
    font-size: 16px;

}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    
    width: 350px;
    font-size: 16px;
    line-height: 24px;
    border: 0;
    border-bottom: 1px solid #d9d9d9;
    outline-style: none;
    padding: 5px;
}
.btn{
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: white;
    background-color: #775a97;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: #563c72;    
}
.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }

  .icon {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid  #d9d9d9;
    color: #8a8a8a;
    min-width: 50px;
    text-align: center;
  }

  .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }

@media only screen and (max-width:600px){
    .container {
        width: 100%;
        height: 90vh;
        background: white;
        padding: 20px !important;
 
    }
    .grid-item{
        width: 100% !important;
        border: none;
    }
    p{
        width: 100% !important;
    }
}

  